<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/submitban.css" />
    <title>AriDorri - Dashboard</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>

    <div class="body"><%- include("./dashboard/right.ejs") %></div>

    <ul class="bans">
      <li class="ban">
        <form action="/dashboard/submitban" method="post" id="submitban-form">
          <div class="submitban-items">
            <input
              type="text"
              name="twitchName"
              placeholder="Twitch Username"
              class="ltr"
            />

            <button type="submit" style="margin-left: 10px">ثبت</button>
          </div>

          <textarea
            name="reason"
            placeholder="توضیحات"
            class="rtl reason"
            style="float: right"
          ></textarea>
        </form>
      </li>

      <% if(permission.isUserSuperModerator(user)){ %> <%
      tBans.forEach(bannedUser => { %>
      <li class="ban">
        <div class="handler">
          <div class="bannedUserInformation">
            <p class="buiUsername rtl"><%= bannedUser.username %></p>
            <p class="buiExecutor rtl"><%= bannedUser.executor %></p>
          </div>
        </div>

        <pre class="buiReason rtl"><%= bannedUser.reason %></pre>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
