<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/suggestion.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>AriDorri</title>
</head>
<body>
    <ul id="suggestions-ul">

        <% suggestions.forEach(suggest => { %>

            <li>
                <form class="suggest" action="/suggestions?id=<%=suggest.id%>" method="post">
                    <p><%= suggest.name %></p>
                    <button class="btn btn-success <%= (suggest.isAccepted !== "none") ? "btn-disabled" : "" %>" name="mode" value="accept" <%= (suggest.isAccepted !== "none") ? "disabled" : "" %>>Accept</button>
                    <button class="btn btn-danger" name="mode" value="declined"><%= (suggest.isAccepted != "none") ? "Delete" : "Decline" %></button>
                    <p><%= suggest.text %></p>
                </form>
            </li>

        <% }) %>

    </ul>
</body>
</html>